nav.navbar.navbar-light.bg-light
  .navheader
    img(src="/assets/haywire.jpg", alt="Haywire's profile picture")
    a.navbar-brand(href="/") Haywirehax
  a(href="/about") About me
  a &nbsp; site is still under construction
  input.right(type="search", placeholder="Search...")
